[TMDB Box Office Prediction](https://www.kaggle.com/c/tmdb-box-office-prediction)

In [1]:
%matplotlib inline

In [2]:
import sys
sys.path.append('../')

In [9]:
from ktool import util
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import warnings
from scipy.stats import norm, skew
import seaborn as sns

In [7]:
# config
DATA_ROOT = '../data/tmdb_box/'

In [14]:
# static 
TEST = 'test.csv'

TRAIN = 'train.csv'

TEST_PATH = DATA_ROOT + TEST
TRAIN_PATH = DATA_ROOT + TRAIN

In [12]:
dr = pd.read_csv(TRAIN_PATH)

In [13]:
dr.head()

   id                              belongs_to_collection  ...                                               crew   revenue
0   1  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  ...  [{'credit_id': '59ac067c92514107af02c8c8', 'de...  12314651
1   2  [{'id': 107674, 'name': 'The Princess Diaries ...  ...  [{'credit_id': '52fe43fe9251416c7502563d', 'de...  95149435
2   3                                                NaN  ...  [{'credit_id': '54d5356ec3a3683ba0000039', 'de...  13092000
3   4                                                NaN  ...  [{'credit_id': '52fe48779251416c9108d6eb', 'de...  16000000
4   5                                                NaN  ...  [{'credit_id': '52fe464b9251416c75073b43', 'de...   3923970

[5 rows x 23 columns]

In [15]:
dr.isnull().sum()

id                          0
belongs_to_collection    2396
budget                      0
genres                      7
homepage                 2054
imdb_id                     0
original_language           0
original_title              0
overview                    8
popularity                  0
poster_path                 1
production_companies      156
production_countries       55
release_date                0
runtime                     2
spoken_languages           20
status                      0
tagline                   597
title                       0
Keywords                  276
cast                       13
crew                       16
revenue                     0
dtype: int64

In [16]:
dr.count()

id                       3000
belongs_to_collection     604
budget                   3000
genres                   2993
homepage                  946
imdb_id                  3000
original_language        3000
original_title           3000
overview                 2992
popularity               3000
poster_path              2999
production_companies     2844
production_countries     2945
release_date             3000
runtime                  2998
spoken_languages         2980
status                   3000
tagline                  2403
title                    3000
Keywords                 2724
cast                     2987
crew                     2984
revenue                  3000
dtype: int64